{"openapi":"3.1.0","info":{"title":"Neighborhood Intelligence API","description":"High-performance geospatial API for neighborhood-level intelligence. Covers K-12 school search and four scored dimension groups: Vibe (privacy, walkability, visual appeal, dog friendliness, urban-rural character), Environment (acoustic comfort, air quality, industrial proximity), Demographics (health insurance coverage, ideological lean, population age profile), and Risk (flood and fire hazard).","contact":{"name":"iHuus, Inc.","url":"https://ihuus.com/"},"version":"0.1.0"},"servers":[{"url":"https://api.ihuus.com","description":"Production"}],"paths":{"/v1/schools/search/coordinates":{"get":{"tags":["Schools & Ratings"],"summary":"Schools by Coordinates","description":"Returns the closest K-12 schools to the specified latitude and longitude,\nordered by distance. Results include school name, level, district,\nrating (if available), and distance in miles.\n\nData about schools and districts is provided by Federal NCES datasets.\nSources for data ratings are provided in each school record.","operationId":"ihuus_schools_search_coordinates","parameters":[{"name":"limit_to_district","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Limit To District","description":"If true, limits results to schools within the same school district as the search location. If false, searches nationwide."},"description":"If true, limits results to schools within the same school district as the search location. If false, searches nationwide."},{"name":"level","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Level","description":"Optional filter for school level. Valid values: 'elementary', 'middle', 'high'. You can include multiple levels separated by commas (e.g. 'elementary,middle'). If not specified, schools of all levels will be included."},"description":"Optional filter for school level. Valid values: 'elementary', 'middle', 'high'. You can include multiple levels separated by commas (e.g. 'elementary,middle'). If not specified, schools of all levels will be included."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"default":10,"title":"Limit","description":"The maximum number of closest schools to return (defaults to 10, maximum 50)."},"description":"The maximum number of closest schools to return (defaults to 10, maximum 50)."},{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the search location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the search location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the search location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the search location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchoolSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/schools/districts/coordinates":{"get":{"tags":["Schools & Ratings"],"summary":"Districts by Coordinates","description":"Returns the names and metadata of all school districts (Unified, Elementary,\nSecondary) that geographically overlap with the specified latitude and\nlongitude. School district boundaries can overlap (e.g., an elementary\ndistrict within a high school district).\n\nThis data is provided by Federal NCES datasets.","operationId":"ihuus_schools_districts_coordinates","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"Latitude of the search location (WGS 84)."},"description":"Latitude of the search location (WGS 84)."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"Longitude of the search location (WGS 84)."},"description":"Longitude of the search location (WGS 84)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistrictSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vibe/privacy":{"get":{"tags":["Vibe"],"summary":"Privacy Index Score","description":"Evaluates how secluded and private a neighborhood feels based on\nhousing density, lot sizes, tree cover, and street-level visibility.\nScores range from 1 (High Density) to 255 (Estate Sprawl).","operationId":"ihuus_vibe_privacy","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrivacyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vibe/walkability":{"get":{"tags":["Vibe"],"summary":"Walkability Score","description":"Assesses how walkable a neighborhood is based on sidewalk coverage,\nintersection density, proximity to amenities, and pedestrian infrastructure.\nScores range from 1 (Car Dependent) to 255 (Pedestrian Priority).","operationId":"ihuus_vibe_walkability","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalkabilityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vibe/visual-appeal":{"get":{"tags":["Vibe"],"summary":"Visual Appeal Score","description":"Rates the aesthetic quality of a neighborhood based on architectural\ncharacter, landscaping, street-level cleanliness, and overall visual harmony.\nScores range from 1 (Distressed) to 255 (Exclusive/Estate).","operationId":"ihuus_vibe_visual_appeal","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VisualAppealResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vibe/dog-friendliness":{"get":{"tags":["Vibe"],"summary":"Dog Friendliness Score","description":"Evaluates how suitable a neighborhood is for dog owners based on\nproximity to parks, trails, off-leash areas, and pet-friendly businesses.\nScores range from 1 (High Traffic/No Space) to 255 (Dog Paradise).","operationId":"ihuus_vibe_dog_friendliness","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DogFriendlinessResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/vibe/urban-rural":{"get":{"tags":["Vibe"],"summary":"Urban-Rural Index Score","description":"Classifies the built environment from dense urban core to open countryside\nusing overhead imagery analysis. Scores range from 1 (dense urban core -\nwall-to-wall pavement, no greenery) to 255 (rural — farms, forests, barely\na building). A score of 0 indicates no data is available for the location.","operationId":"ihuus_vibe_urban_rural","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrbanRuralResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/environment/noise-levels":{"get":{"tags":["Environment"],"summary":"Noise Levels Score","description":"Quantifies acoustic comfort using federal noise modelling data for road,\nrailroad, and aviation sources. The score is a serenity scale: 1 is the\nworst (extreme noise — immediate proximity to an airport runway or heavy\nrail) and 255 is the best (serene — nature sounds only). A score of 0\nindicates no noise data is available, which typically implies a rural or\nvery secluded location. The response includes the composite score and a\nhuman-readable breakdown of individual noise sources in decibels.","operationId":"ihuus_environment_noise_levels","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoiseLevelsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/environment/industrial-proximity":{"get":{"tags":["Environment"],"summary":"Industrial Proximity Score","description":"A composite metric combining overhead imagery analysis, EPA hazard data\n(including Superfund sites), and nearby business and industry POI density.\nScores range from 1 (hazardous — active industrial sites or severe pollution\nindicators nearby) to 255 (exclusively residential — no warehouses,\nindustrial facilities, or hazard sites detected). A score of 0 means no\ndata is available for the location.","operationId":"ihuus_environment_industrial_proximity","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndustrialProximityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/environment/air-quality":{"get":{"tags":["Environment"],"summary":"Air Quality Score","description":"Derived from OpenAQ monitoring station data. Scores range from 1\n(consistently dangerous AQI readings — serious health risk for all\nresidents) to 255 (consistently clean air with little to no health\nconcern). A score of 0 means no monitoring data is available for the\nlocation.","operationId":"ihuus_environment_air_quality","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirQualityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/demographics/insurance-coverage":{"get":{"tags":["Demographics"],"summary":"Health Insurance Coverage","description":"Sourced from the most recent US Census Bureau data. Measures the share of\nresidents with any form of health insurance on a linear 0-255 scale. A score\nof 0 means no data is available or the local population count falls below the\nreporting threshold. A score of 1 represents near-zero coverage; 255 represents\nover 90% of residents insured.","operationId":"ihuus_demographics_insurance_coverage","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsuranceCoverageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/demographics/ideological-lean":{"get":{"tags":["Demographics"],"summary":"Ideological Lean Score","description":"Derived from US Census Bureau data and voting records. The score runs\nfrom 1 (predominantly conservative) through 128 (evenly split) to 255\n(predominantly liberal). A score of 0 means no data is available for\nthe location.","operationId":"ihuus_demographics_ideological_lean","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdeologicalLeanResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/demographics/population-profile":{"get":{"tags":["Demographics"],"summary":"Population Age Profile","description":"Derived from the most recent US Census Bureau data. Scores range from\n1 (predominantly young adults aged 20-34, few children or seniors) to\n255 (predominantly senior, strong 65+ population and high median age).\n128 represents a balanced age mix across young adults, families, and\nolder residents. A score of 0 means no data is available.","operationId":"ihuus_demographics_population_profile","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PopulationProfileResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/risk/flood":{"get":{"tags":["Risk"],"summary":"Flood Risk Score","description":"Derived from FEMA National Flood Hazard Layer (NFHL) designations. Scores\nrange from 1 (highest risk — coastal high-hazard zone subject to wave action,\nFEMA V/VE; typically associated with elevated insurance costs) through\nmoderate undetermined-risk and 500-year floodplain zones, to 255 (minimal\nflood hazard, FEMA Zone C). A score of 0 means no FEMA data is available.","operationId":"ihuus_risk_flood","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FloodRiskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/risk/fire":{"get":{"tags":["Risk"],"summary":"Fire Risk Score","description":"Derived from CALFIRE State Responsibility Area (SRA) hazard severity zone\ndesignations. Currently available for California only. Scores range from 1\n(Severe — extreme fire hazard requiring maximum protection measures) through\nHigh and Moderate zones to 255 (no fire risk factors reported by CALFIRE).\nA score of 0 means no CALFIRE data is available, including all locations\noutside California.","operationId":"ihuus_risk_fire","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90,"minimum":-90,"title":"Lat","description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},"description":"The latitude of the location in decimal degrees (WGS 84). Must be between -90 and 90."},{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180,"minimum":-180,"title":"Lon","description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."},"description":"The longitude of the location in decimal degrees (WGS 84). Must be between -180 and 180."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FireRiskResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/tools/geocode_single":{"get":{"tags":["Tools"],"summary":"Geocode a single address","description":"Converts an address into geographic coordinates. This endpoint takes a free-text\nlocation or address and returns the most likely latitude and longitude. It is designed\nspecifically for Agentic usage where only a single definitive location is needed.\n\nTo increase location accuracy, it is highly encouraged to provide as precise and\ncomplete an address as possible. Providing an optional two-letter country code \n(e.g., \"us\") is also strongly encouraged to increase accuracy. Returns null\ncoordinates and an explanatory message if no results are found.","operationId":"ihuus_tools_geocode_single","parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string","title":"Query","description":"The address or location query to geocode. e.g., '1600 Pennsylvania Ave NW, Washington, DC'"},"description":"The address or location query to geocode. e.g., '1600 Pennsylvania Ave NW, Washington, DC'"},{"name":"country","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":2,"maxLength":2},{"type":"null"}],"title":"Country","description":"Optional two-letter country code (ISO 3166-1 alpha-2) to improve geocoding accuracy."},"description":"Optional two-letter country code (ISO 3166-1 alpha-2) to improve geocoding accuracy."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeocodeSingleResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AirQualityResponse":{"properties":{"result":{"$ref":"#/components/schemas/AirQualityResult","description":"The Air Quality result. A score of 0 means no OpenAQ monitoring data is available for the given coordinates."}},"type":"object","required":["result"],"title":"AirQualityResponse","description":"API response for an Air Quality lookup.","examples":[{"result":{"description":"Good: mostly clean air with rare elevated readings from seasonal wildfire smoke.","score":192}}]},"AirQualityResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Air Quality score (0-255). Derived from OpenAQ monitoring data. Reflects the consistency and severity of AQI readings at the location. 1 represents consistently dangerous air quality posing serious health risks; 255 represents consistently clean air with little to no health concern. 0 means no monitoring data is available."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"AirQualityResult","description":"Air Quality score for a location.","examples":[{"description":"Good: mostly clean air with rare elevated readings from seasonal wildfire smoke.","score":192}]},"DistrictResult":{"properties":{"name":{"type":"string","title":"Name","description":"School District Name"},"geoid":{"type":"string","title":"Geoid","description":"Unique District GEOID"},"state_fp":{"type":"string","title":"State Fp","description":"State FIPS Code"},"lograde":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lograde","description":"Lowest Grade Served"},"higrade":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Higrade","description":"Highest Grade Served"},"sd_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sd Type","description":"School District Type"}},"type":"object","required":["name","geoid","state_fp"],"title":"DistrictResult","description":"Model representing a school district search result.","examples":[{"geoid":"0602310","higrade":"12","lograde":"KG","name":"San Jose Unified School District","sd_type":"Unified","state_fp":"06"}]},"DistrictSearchResponse":{"properties":{"districts":{"items":{"$ref":"#/components/schemas/DistrictResult"},"type":"array","title":"Districts","description":"List of school districts found at the location."},"additional_info":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Additional Info","description":"Any additional information or disclaimers about the search results."}},"type":"object","required":["districts"],"title":"DistrictSearchResponse","description":"API response model for school district search results.","examples":[{"districts":[{"geoid":"0602310","higrade":"12","lograde":"KG","name":"San Jose Unified School District","sd_type":"Unified","state_fp":"06"}]}]},"DogFriendlinessResponse":{"properties":{"result":{"$ref":"#/components/schemas/DogFriendlinessResult","description":"The Dog Friendliness result. A score of 0 means no data is available."}},"type":"object","required":["result"],"title":"DogFriendlinessResponse","description":"API response for a Dog Friendliness lookup.","examples":[{"result":{"description":"Excellent for dogs: two off-leash parks within half a mile, wide sidewalks, and multiple pet-friendly businesses nearby.","score":224}}]},"DogFriendlinessResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Dog Friendliness score (0-255). Evaluates how suitable a neighborhood is for dog owners based on proximity to parks and trails, off-leash areas, pet-friendly businesses, sidewalk availability, and open green spaces. Higher is more dog-friendly."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"DogFriendlinessResult","description":"Dog Friendliness score for a location.","examples":[{"description":"Excellent for dogs: two off-leash parks within half a mile, wide sidewalks, and multiple pet-friendly businesses nearby.","score":224}]},"FireRiskResponse":{"properties":{"result":{"$ref":"#/components/schemas/FireRiskResult","description":"The Fire Risk result. A score of 0 means no CALFIRE data is available, including all locations outside California."}},"type":"object","required":["result"],"title":"FireRiskResponse","description":"API response for a Fire Risk lookup.","examples":[{"result":{"description":"Low. Little to no fire hazard; no additional measures required.","score":192}}]},"FireRiskResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Fire Risk score (0-255). Derived from CALFIRE State Responsibility Area (SRA) hazard severity zone designations. Currently available for California only. Lower scores indicate higher risk: 1 represents Severe hazard zones requiring maximum protection measures; 255 represents areas with no fire risk factors reported. 0 means no CALFIRE data is available (including all non-California locations)."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"FireRiskResult","description":"Fire Risk score for a location.","examples":[{"description":"Low. Little to no fire hazard; no additional measures required.","score":192}]},"FloodRiskResponse":{"properties":{"result":{"$ref":"#/components/schemas/FloodRiskResult","description":"The Flood Risk result. A score of 0 means no FEMA flood zone data is available for the given coordinates."}},"type":"object","required":["result"],"title":"FloodRiskResponse","description":"API response for a Flood Risk lookup.","examples":[{"result":{"description":"Low-moderate risk: within the 500-year floodplain (FEMA X/B). Some residual flood risk.","score":220}}]},"FloodRiskResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Flood Risk score (0-255). Derived from FEMA National Flood Hazard Layer (NFHL) designations. Lower scores indicate higher flood risk and likely elevated insurance costs: 1 represents coastal high-hazard zones (FEMA V/VE) subject to wave action; 255 represents areas with minimal to no flood hazard (FEMA Zone C). 0 means no FEMA data is available for the location."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"FloodRiskResult","description":"Flood Risk score for a location.","examples":[{"description":"Low-moderate risk: within the 500-year floodplain (FEMA X/B). Some residual flood risk.","score":220}]},"GeocodeSingleResponse":{"properties":{"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat","description":"Latitude of the location. Null if no results found."},"lon":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lon","description":"Longitude of the location. Null if no results found."},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message","description":"Additional information, such as error messages if no results were found."}},"additionalProperties":false,"type":"object","title":"GeocodeSingleResponse","description":"Response schema for single geocoding."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IdeologicalLeanResponse":{"properties":{"result":{"$ref":"#/components/schemas/IdeologicalLeanResult","description":"The Ideological Lean result. A score of 0 means no Census or voting data is available for the given coordinates."}},"type":"object","required":["result"],"title":"IdeologicalLeanResponse","description":"API response for an Ideological Lean lookup.","examples":[{"result":{"description":"Largely liberal: liberal majority with a modest opposing presence.","score":168}}]},"IdeologicalLeanResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Ideological Lean score (0-255). Derived from US Census Bureau data and voting records. Scores toward 1 indicate a predominantly conservative area; scores toward 255 indicate a predominantly liberal area; 128 represents an even split. 0 means no data is available."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"IdeologicalLeanResult","description":"Ideological Lean score for a location.","examples":[{"description":"Largely liberal: liberal majority with a modest opposing presence.","score":168}]},"IndustrialProximityResponse":{"properties":{"result":{"$ref":"#/components/schemas/IndustrialProximityResult","description":"The Industrial Proximity result. A score of 0 means no imagery, hazard, or POI data is available for the given coordinates."}},"type":"object","required":["result"],"title":"IndustrialProximityResponse","description":"API response for an Industrial Proximity lookup.","examples":[{"result":{"description":"Mostly residential: occasional light commercial; no significant industrial presence detected.","score":218}}]},"IndustrialProximityResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Industrial Proximity score (0-255). A composite metric combining overhead imagery analysis, EPA hazard data (including Superfund sites), and nearby business/POI density. Lower scores indicate proximity to hazardous or heavy industrial activity; higher scores indicate a purely residential environment. 0 means no data available."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"IndustrialProximityResult","description":"Industrial Proximity score for a location.","examples":[{"description":"Mostly residential: occasional light commercial; no significant industrial presence detected.","score":218}]},"InsuranceCoverageResponse":{"properties":{"result":{"$ref":"#/components/schemas/InsuranceCoverageResult","description":"The Health Insurance Coverage result. A score of 0 means no Census data is available or the local population falls below the reporting threshold."}},"type":"object","required":["result"],"title":"InsuranceCoverageResponse","description":"API response for a Health Insurance Coverage lookup.","examples":[{"result":{"description":"High. Around 81% of residents have health insurance.","score":204}}]},"InsuranceCoverageResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Health Insurance Coverage score (0-255). Linear scale derived from US Census Bureau data measuring the share of residents with any form of health insurance. 0 means no data available; 1 represents near-zero coverage; 255 represents over 90% of residents insured. Each point corresponds to roughly 0.35 percentage points of coverage."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"InsuranceCoverageResult","description":"Health Insurance Coverage score for a location.","examples":[{"description":"High. Around 81% of residents have health insurance.","score":204}]},"NoiseLevelsResponse":{"properties":{"result":{"$ref":"#/components/schemas/NoiseLevelsResult","description":"The Noise Levels result. A score of 0 means no noise data is available (typically a rural or unpopulated location)."}},"type":"object","required":["result"],"title":"NoiseLevelsResponse","description":"API response for a Noise Levels lookup.","examples":[{"result":{"description":"Noise level: 61dB (Road: 58dB, Aviation: 42dB)","score":138}}]},"NoiseLevelsResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Noise Levels score (0-255). Quantifies acoustic comfort using federal noise modelling data covering road, railroad, and aviation sources. Higher values indicate quieter surroundings; lower values indicate louder ambient noise. A score of 0 means no noise data is available, typically implying a rural or very secluded location."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Human-readable noise breakdown showing the total decibel level and per-source contributions (Road, Railroad, Aviation) where data is available. Example: 'Noise level: 65dB (Road: 52dB, Railroad: 48dB)'."}},"type":"object","required":["score"],"title":"NoiseLevelsResult","description":"Noise Levels score and breakdown for a location.","examples":[{"description":"Noise level: 61dB (Road: 58dB, Aviation: 42dB)","score":138}]},"PopulationProfileResponse":{"properties":{"result":{"$ref":"#/components/schemas/PopulationProfileResult","description":"The Population Age Profile result. A score of 0 means no Census data is available for the given coordinates."}},"type":"object","required":["result"],"title":"PopulationProfileResponse","description":"API response for a Population Age Profile lookup.","examples":[{"result":{"description":"Mixed: balanced spread of young adults, families, and older residents.","score":108}}]},"PopulationProfileResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Population Age Profile score (0-255). Derived from the most recent US Census Bureau data. Lower scores indicate a younger-skewing area dominated by young adults (20-34); higher scores indicate a senior-skewing area with a strong 65+ population and high median age. 128 represents a balanced age mix. 0 means no data is available."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"PopulationProfileResult","description":"Population Age Profile score for a location.","examples":[{"description":"Mixed: balanced spread of young adults, families, and older residents.","score":108}]},"PrivacyResponse":{"properties":{"result":{"$ref":"#/components/schemas/PrivacyResult","description":"The Privacy Index result. A score of 0 means no data is available."}},"type":"object","required":["result"],"title":"PrivacyResponse","description":"API response for a Privacy Index lookup.","examples":[{"result":{"description":"High privacy: large lot sizes, mature tree canopy, and generous street setbacks limit visibility from passing traffic.","score":210}}]},"PrivacyResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Privacy Index score (0-255). Measures how secluded and private a neighborhood feels based on housing density, lot sizes, tree cover, and street-level visibility. Higher is more private."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"PrivacyResult","description":"Privacy Index score for a location.","examples":[{"description":"High privacy: large lot sizes, mature tree canopy, and generous street setbacks limit visibility from passing traffic.","score":210}]},"SchoolResult":{"properties":{"nces_id":{"type":"string","title":"Nces Id","description":"The unique 12-digit National Center for Education Statistics (NCES) identifier for the school."},"lea_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lea Id","description":"The NCES Local Education Agency (LEA) identifier, identifying the school district."},"name":{"type":"string","title":"Name","description":"The official name of the school institution."},"lea_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lea Name","description":"The name of the school district or Local Education Agency (LEA)."},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address","description":"The full physical address of the school, including street, city, state, and zip code."},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"The primary contact phone number for the school."},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website","description":" The URL of the official school website."},"level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Level","description":"The educational level(s) served by the school (e.g. 'Elementary', 'Middle', 'High')."},"lowest_grade":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Lowest Grade","description":"The lowest grade level served by the school. Values: -1=Pre-Kindergarten (PK), 0=Kindergarten (KG), 1-12=Grades 1-12, 13=Ungraded (UG), 14=Adult Education (AE)."},"highest_grade":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Highest Grade","description":"The highest grade level served by the school. Values: -1=Pre-Kindergarten (PK), 0=Kindergarten (KG), 1-12=Grades 1-12, 13=Ungraded (UG), 14=Adult Education (AE)."},"total_students":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total Students","description":"The total number of students enrolled at the school."},"total_teachers":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total Teachers","description":"The total number of full-time equivalent (FTE) teachers at the school."},"rating":{"anyOf":[{"type":"integer","maximum":10.0,"minimum":0.0},{"type":"null"}],"title":"Rating","description":"An overall rating for the school on a scale of 1 to 10, where 10 represents the highest quality."},"rating_source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rating Source","description":"The source of the school's overall rating. This could be an identifier for the organization or system that provided the rating. Use for citations and attributions."},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat","description":"The latitude of the school's location in decimal degrees (WGS 84)."},"lon":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lon","description":"The longitude of the school's location in decimal degrees (WGS 84)."},"distance_meters":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Distance Meters","description":"The distance in meters from the search query coordinates to the school location."}},"type":"object","required":["nces_id","name"],"title":"SchoolResult","description":"Model representing a school search result.","examples":[{"address":"555 Dana Ave, San Jose, CA 95126","distance_meters":1240.5,"highest_grade":12,"lat":37.3382,"lea_id":"0602310","lea_name":"San Jose Unified School District","level":"High","lon":-121.8863,"lowest_grade":9,"name":"Lincoln High School","nces_id":"060231001587","phone":"(408) 535-6300","rating":7,"rating_source":"GreatSchools","total_students":1842,"total_teachers":94,"website":"https://www.sjusd.org/lincoln/"}]},"SchoolSearchResponse":{"properties":{"schools":{"items":{"$ref":"#/components/schemas/SchoolResult"},"type":"array","title":"Schools","description":"A list of found schools, sorted by proximity to the search location (closest first)."},"data_source":{"type":"string","title":"Data Source","description":"The authoritative source dataset for the school information.","default":"NCES Common Core of Data (CCD)"},"data_vintage":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Data Vintage","description":"The calendar year of the dataset used for these results.","default":2025},"additional_info":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Additional Info","description":"Any additional information or disclaimers about the search results."}},"type":"object","required":["schools"],"title":"SchoolSearchResponse","description":"API response model for school search results.","examples":[{"data_source":"NCES Common Core of Data (CCD)","data_vintage":2025,"schools":[{"address":"555 Dana Ave, San Jose, CA 95126","distance_meters":1240.5,"highest_grade":12,"lat":37.3382,"lea_id":"0602310","lea_name":"San Jose Unified School District","level":"High","lon":-121.8863,"lowest_grade":9,"name":"Lincoln High School","nces_id":"060231001587","phone":"(408) 535-6300","rating":7,"rating_source":"GreatSchools","total_students":1842,"total_teachers":94,"website":"https://www.sjusd.org/lincoln/"}]}]},"UrbanRuralResponse":{"properties":{"result":{"$ref":"#/components/schemas/UrbanRuralResult","description":"The Urban-Rural Index result. A score of 0 means no imagery data is available for the given coordinates."}},"type":"object","required":["result"],"title":"UrbanRuralResponse","description":"API response for an Urban-Rural Index lookup.","examples":[{"result":{"description":"Dense urban: continuous building frontage, high pavement coverage, and minimal open green space detected from imagery.","score":52}}]},"UrbanRuralResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Urban-Rural Index score (0-255). Classifies the built environment from dense urban core to open countryside, derived from overhead imagery analysis. Higher scores indicate a more rural character. 0 means no imagery data is available."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"UrbanRuralResult","description":"Urban-Rural Index score for a location.","examples":[{"description":"Dense urban: continuous building frontage, high pavement coverage, and minimal open green space detected from imagery.","score":52}]},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VisualAppealResponse":{"properties":{"result":{"$ref":"#/components/schemas/VisualAppealResult","description":"The Visual Appeal result. A score of 0 means no data is available."}},"type":"object","required":["result"],"title":"VisualAppealResponse","description":"API response for a Visual Appeal lookup.","examples":[{"result":{"description":"Attractive streetscape: well-maintained homes, mature street trees, and tidy front yards create a cohesive aesthetic.","score":188}}]},"VisualAppealResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Visual Appeal score (0-255). Rates the aesthetic quality of a neighborhood based on architectural character, landscaping, street-level cleanliness, and overall visual harmony. Higher is more visually appealing."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"VisualAppealResult","description":"Visual Appeal score for a location.","examples":[{"description":"Attractive streetscape: well-maintained homes, mature street trees, and tidy front yards create a cohesive aesthetic.","score":188}]},"WalkabilityResponse":{"properties":{"result":{"$ref":"#/components/schemas/WalkabilityResult","description":"The Walkability result. A score of 0 means no data is available."}},"type":"object","required":["result"],"title":"WalkabilityResponse","description":"API response for a Walkability lookup.","examples":[{"result":{"description":"Mostly walkable: continuous sidewalk network and several amenities within a 10-minute walk, though arterials require crossing.","score":162}}]},"WalkabilityResult":{"properties":{"score":{"type":"integer","title":"Score","description":"Walkability score (0-255). Assesses how walkable a neighborhood is based on sidewalk coverage, intersection density, proximity to amenities, and pedestrian infrastructure. Higher is more walkable."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A short human-readable narrative explaining the score and the key factors that influenced it at this location."}},"type":"object","required":["score"],"title":"WalkabilityResult","description":"Walkability score for a location.","examples":[{"description":"Mostly walkable: continuous sidewalk network and several amenities within a 10-minute walk, though arterials require crossing.","score":162}]}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Firebase ID token or Apigee-issued OAuth 2.0 access token. Pass as ``Authorization: Bearer <token>``."},"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-iHuus-API-Key","description":"Apigee API key issued via the iHuus developer portal. Pass as the ``X-iHuus-API-Key`` request header."}}},"tags":[{"name":"Schools & Ratings","description":"Search for K-12 schools by geographic coordinates or street address. Results include distance, school level, district information, demographics, and performance metrics where available."},{"name":"Vibe","description":"Neighborhood vibe dimension scores. Each endpoint returns a 0-255 score for a single dimension (privacy, walkability, visual appeal, dog friendliness, urban-rural character) along with a semantic description."},{"name":"Environment","description":"Environment dimension scores (0-255). Includes composite noise levels, air quality, and other environmental factors accompanied by detailed source breakdowns."},{"name":"Demographics","description":"Demographic dimension scores (0-255) derived from US Census Bureau data. Includes health insurance coverage and other population-level indicators."},{"name":"Risk","description":"Risk dimension scores (0-255). Covers natural hazard exposure including flood and fire risk, derived from FEMA and other authoritative hazard datasets. Lower scores indicate higher risk."},{"name":"Tools","description":"Auxiliary tools for processing data and agent assistance, such as geocoding addresses into geospatial coordinates."}],"security":[{"BearerAuth":[]},{"ApiKeyAuth":[]}]}